@import "tailwindcss";

html,
body,
#root {
  background: #111214;
  color: #fff;
}

body {
  font-weight: 400;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

input,
button {
  outline: none;
}

span {
  line-height: 1;
}
